@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: var(--font-default);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-default), var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-monos: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default), var(--font-geist-sans), var(--font-geist-mono), Arial, Helvetica, sans-serif;
}
